* {
    /* margin:0; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header {
    display: flex;
    position: sticky;
    top: 0;
    height: 50px;
    max-width: calc(80% - 10px);
    justify-content: space-between;
    margin: auto;
    margin-top: 5px;
    background-color: aquamarine;
    align-items: center;
    border-radius: 10px;
}
header > * {
    padding:20px;
}
menu {
    display:flex;
}
menu > li {
    list-style: none;
    display: block;
    padding-left: 20px;
}
.modal-content {
    margin:auto;
}
.button {
    background-color: #f52828;
    color:rgb(245, 229, 229);
    padding:10px;
    border-radius: 10px;
    text-decoration: none;
}